/**
 * @name Thunderbird Dark
 * @stylish-id 119670
 * @author Niklas Gollenstede
 * @licence CC-BY-SA-4.0 or MIT
 * @description
 *     Dark theme for Thunderbird's main UI. To get the result on the screenshot, also install my styles "Developer Edition Dark" and "about:pages Dark"!
 *
 *     If you have any issues with this style, please open a ticket at https://github.com/NiklasGollenstede/stylish
 */

@-moz-document
    url(chrome://messenger/content/messenger.xul)
{

    #folderTree,
    #threadContentArea,
    #quick-filter-bar,
    #singlemessage>:not(#messagepanewrapper),
    #status-bar
    {
        filter: invert(100%) hue-rotate(180deg) contrast(85%) saturate(90%) brightness(85%);
    }
    #quick-filter-bar image,
    #singlemessage>:not(#messagepanewrapper) image,
    #status-bar image
    {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) brightness(85%);
    }
    #calendar-show-todaypane-panel image
    {
        filter: unset;
    }

    #quick-filter-bar
    {
        background: #F0F0F0 !important;
    }

    /* tabs at the very top of the window */
    window[sizemode="normal"] #navigation-toolbox
    { margin-top: -17px; }
    window[sizemode="maximized"] #navigation-toolbox
    { margin-top: -2px; }

    /* exclude window button area */
    #titlebar-placeholder-on-TabsToolbar-for-captions-buttons:not(foo)
    { background: transparent; }
    window[sizemode="maximized"] #titlebar-placeholder-on-TabsToolbar-for-captions-buttons
    { background-image: linear-gradient(180deg, transparent 90%, black 90%); }

    /* macOS fix */
    .main-header-area
    { background-color: buttonface; }
}

@-moz-document
    url(chrome://messenger/content/msgAccountCentral.xul)
{

    page
    {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) saturate(200%) brightness(125%);
    }

    label
    {
        filter: invert(100%) hue-rotate(180deg) contrast(70%) saturate(50%) brightness(125%);
        color: white !important;
    }
}

@-moz-document
    url(chrome://messenger/content/messengercompose/messengercompose.xul)
{

    #attachmentNotificationBox,
    #compose-toolbox,
    #FindToolbar,
    #headers-box,
    #status-bar
    {
        filter: invert(100%) hue-rotate(180deg) contrast(90%) saturate(200%) brightness(125%);
        background-color: #E6E9EC; /* inspector body color filtered */
    }

    #attachmentNotificationBox image,
    #compose-toolbox image,
    #FindToolbar image,
    #headers-box image,
    #status-bar image
    {
        filter: invert(100%) hue-rotate(180deg);
    }
    #smilyPopup image
    {
        filter: unset;
    }

    #content-frame /* #headers-box .color-button */
    {
        filter: invert(100%) hue-rotate(180deg);
    }
    window[screenY="0"] #content-frame
    { /* this is a hack. To turn off the inversion on the compose textbox, move the winwo to the very top of the screen */
        filter: unset;
    }

    /* macOS fix */
    #msgheaderstoolbar-box
    { background-color: #E6E9EC; }
}
